body{
   display: flex;
   flex-direction: column;
   align-items: center;
   height: 100dvh;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   background: linear-gradient(90deg, #000000, #1c2022);
  }

.container {
  max-width: 1080px;
}

.card-info {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.5), rgba(28, 32, 34, 0.5)); /* Fondo degradado con transparencia */
  border-radius: 15px;
  backdrop-filter: blur(10px); /* Desenfoque de fondo para el efecto vidrio */
  -webkit-backdrop-filter: blur(10px); /* Compatibilidad con navegadores WebKit */
  border: 1px solid rgba(255, 255, 255, 0.2); /* Borde suave */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4); /* Sombras para dar profundidad */
  padding: 20px; /* Espacio interno */
  color: white;
}


.text-md-black {
  font-size: 24px;
  font-weight: bold;
}

.text-white{
  color: white;
}

.text-xl{
  font-size: 28px;
  font-weight: bold;
  color: #fff;
}

.text-center{
  text-align: center;
}

.section-profile{
  padding-top: 20px;
}

.card-content{
  display: flex;
  align-items: center;
  gap: 20px;
}

.section-shares{
  margin-bottom: 15px;
}

.container-project{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9px;
  flex-wrap: wrap;
}

.project-card{
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.5), rgba(28, 32, 34, 0.5)); /* Fondo degradado con transparencia */
  border-radius: 15px;
  backdrop-filter: blur(10px); /* Desenfoque de fondo para el efecto vidrio */
  -webkit-backdrop-filter: blur(10px); /* Compatibilidad con navegadores WebKit */
  border: 1px solid rgba(255, 255, 255, 0.2); /* Borde suave */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4); /* Sombras para dar profundidad */
  padding: 20px; /* Espacio interno */
  color: white;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  transform-style: preserve-3d;
}

.project-card:hover{
  transform: translateY(-5px) rotateX(5deg) rotateY(5deg);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.3), 0 10px 10px rgba(0, 0, 0, 0.2);
}

.img-header{
  object-fit: cover;
  background-repeat: no-repeat;
  width: 100%;
  max-height: 150px;
  border-radius: 8px;
}



.image-container {
  width: 80px; /* Ajusta el tamaño de la imagen */
  height: 80px;
  border-radius: 50%; /* Hace que el contenedor sea circular */
  border: 10px solid linear-gradient(90deg, rgba(0, 0, 0, 0.5), rgba(28, 32, 34, 0.5)); /* Borde pronunciado de color amarillo pastel */
  background-color: #fff; /* Fondo azul pastel */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Asegura que la imagen no se salga del contenedor */
}

.avatar {
 object-fit: contain;
 width: 50px;
 height: 50px;
}